@model ReservationViewModel
@{ ViewData["Title"] = "Index"; }



<!-- Modal -->
<div class="modal fade" id="Reservation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-around">
                <h5 class="modal-title">Reservation Result</h5>
            </div>
            <div class="modal-body text-center">
                <p id="successMsg" class="alert-success my-auto"> @ViewBag.Success</p>
                <p id="failedMsg" class="alert-warning my-auto"> @ViewBag.Error</p>
            </div>
            <div class="modal-footer justify-content-around">
                <button id="closeModal" type="button" class="btn btn-secondary" >Close</button>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-around my-5">
    <div class="col-md-10">

        <div class="mb-md-5">
            <h2>Reservation Form</h2>
            <p class="small" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
        </div>

        <form asp-action="Index" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Adults" class="control-label"></label>
                    <input asp-for="Adults" class="form-control" />
                    <span asp-validation-for="Adults" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Children" class="control-label"></label>
                    <input asp-for="Children" class="form-control" />
                    <span asp-validation-for="Children" class="text-danger"></span>
                </div>
            </div>
           
            <div class="form-row ">
                <div class="form-group col-md-6">
                    <label asp-for="CheckIn" class="control-label"></label>
                    <input asp-for="CheckIn" class="form-control" />
                    <span asp-validation-for="CheckIn" class="text-danger"></span>

                </div>

                <div class="form-group col-md-6">
                    <label asp-for="CheckOut" class="control-label"></label>
                    <input asp-for="CheckOut" class="form-control" />
                    <span asp-validation-for="CheckOut" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="RoomTypeId" class="control-label"></label>
                    <select asp-for="RoomTypeId"
                            asp-items="@(new SelectList(Model.RoomType,"Value", "Text"))"
                            class="form-control">
                    </select>
                    <span asp-validation-for="RoomTypeId" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="MealPlanId" class="control-label"></label>
                    <select asp-for="MealPlanId"
                            asp-items="@(new SelectList(Model.MealPlan,"Value", "Text"))"
                            class="form-control">
                    </select>
                    <span asp-validation-for="MealPlanId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group mx-auto col-md-3 mt-4">
                <input type="submit" value="Calculate" class="btn btn-lg btn-block btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('#closeModal').click(function () {
            $('#Reservation').modal('hide');
        });

        $('#Reservation').on('hidden.bs.modal', function () {
            $('#failedMsg').show()
            $('#successMsg').show()
            console.log("hidden");
        })
    </script>
    @if (ViewBag.Success != null)
    {
        <script>
            $('#failedMsg').hide()
            $('#Reservation').modal('show')
        </script>
    }
    else if (ViewBag.Error != null) 
    { 
        <script>
            $('#successMsg').hide()
            $('#Reservation').modal('show')
        </script>
    }
}
